{% extends 'base.html.twig' %}

{% block title %}Discord{% endblock %}

{% block body %}

    <main class="form-signin w-100 m-auto">
        <form action="{{ path('app_discord_connect') }}" method="post">
            <input type="hidden" name="token" value="{{ csrf_token('discord-auth') }}">
            <button class="btn btn-primary w-100 py-6" type="submit">Sign in</button>
        </form>
    </main>

{% endblock %}
